@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  max-width: 50em;
  width: 100%;
  transform: translateX(-50%);

}

p {
  font-style: italic;
  font-size: 2rem;
  padding-left: 1rem;
  margin-top: 10px;
  padding-right: 1rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  padding-left: 1rem;
}

span {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}
